<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:jaxws="http://cxf.apache.org/jaxws"
	xmlns:jaxrs="http://cxf.apache.org/jaxrs"
	xmlns:sec="http://cxf.apache.org/configuration/security" 
	xmlns:interop="http://WSSec/wssec10"
	xmlns:cxf="http://cxf.apache.org/core" 
	xmlns:p="http://cxf.apache.org/policy"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
						http://cxf.apache.org/jaxws http://cxf.apache.org/schemas/jaxws.xsd
						http://cxf.apache.org/jaxrs http://cxf.apache.org/schemas/jaxrs.xsd
						http://cxf.apache.org/core http://cxf.apache.org/schemas/core.xsd
						http://cxf.apache.org/policy http://cxf.apache.org/schemas/policy.xsd
						http://cxf.apache.org/configuration/security http://cxf.apache.org/schemas/configuration/security.xsd">
	
    <import resource="classpath:META-INF/cxf/cxf.xml"/>
    <import resource="classpath:META-INF/cxf/cxf-servlet.xml"/>
	
	<cxf:bus>
        <cxf:features>
            <p:policies/>
            <cxf:logging/>
        </cxf:features>
    </cxf:bus>
    
	<bean id="restDelegatorService" class="com.cacib.eurc.webservice.rest.impl.RESTDelegatorServiceImpl" />
	<bean id="soapDelegatorService" class="com.cacib.eurc.webservice.soap.impl.SOAPDelegatorServiceImpl" />
	
	<bean id="kerberosValidator" class="org.apache.ws.security.validate.KerberosTokenValidator">
        <property name="contextName" value="bob"/>
        <property name="serviceName" value="bob@service.ws.apache.org"/>
    </bean>
	
    <jaxrs:server id="RESTDelegatorService" address="/rest">
        <jaxrs:serviceBeans>
            <ref bean="restDelegatorService"/>
        </jaxrs:serviceBeans>
        <jaxrs:providers>
            <!-- <bean class="org.codehaus.jackson.jaxrs.JacksonJsonProvider"/> -->
            <bean class="com.cacib.eurc.exception.ApplicationDelegatorExceptionHandler"/>
        </jaxrs:providers>
    </jaxrs:server>
	
    <jaxws:endpoint
    		xmlns:s="http://soap.webservice.eurc.cacib.com/"
            id="SOAPDelegatorService"
            implementor="#soapDelegatorService"
            address="/soap"
            serviceName="s:SOAPDelegatorService"
            endpointName="s:SOAPDelegatorServicePort"
            wsdlLocation="wsdl/delegator.wsdl">
		<jaxws:properties>
			<entry key="mtom-enabled" value="true"/>
			<entry key="ws-security.is-bsp-compliant" value="false"/>
            <entry key="ws-security.bst.validator" value-ref="kerberosValidator"/>
		</jaxws:properties>
	</jaxws:endpoint>
	
</beans>